<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dexcaff.cragmapper">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dexcaff.cragmapper.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/prodivder_paths" />
        </provider>

        <activity android:name=".MainActivity"
            android:label="@string/title_activity_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuildCragActivity"
            android:label="@string/title_activity_build_crag"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dexcaff.cragmapper.MainActivity" />
        </activity>
        <activity
            android:name=".EditCragImageActivity"
            android:label="@string/title_activity_edit_crag_image"
            android:parentActivityName=".BuildCragActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dexcaff.cragmapper.BuildCragActivity" />
        </activity>
        <activity
            android:name=".EditNodeOrderActivity"
            android:label="@string/title_activity_edit_node_order"
            android:parentActivityName=".EditCragImageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dexcaff.cragmapper.EditCragImageActivity" />
        </activity>
        <activity
            android:name=".CragViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_crag_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dexcaff.cragmapper.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">

        </activity>
    </application>

</manifest>